<header class="blog-header">
<!--	<nav class="navbar navbar-expand-md navbar-light bg-light">-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
	   <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
		    {{ partial "brand" . }}
        </a>
        <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button-->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                {{ $url := .URL | relLangURL }}
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                    <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
